<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div style="margin:20px;">
		<h1>Edit book</h1>
	    <form th:object="${book}" th:action=@{/saveBook} action="#" method="post">
	    	<div>
	    		<label for="id"></label>
	    		<input type="hidden" id="id" th:field="*{id}" />
	    	</div>
	    	<div>
	    		<label>Title</label>
	    		<input type="text" th:field="*{title}" />
	    	</div><br/>
	    	<div>
	    		<label>Author</label>
	    		<input type="text" th:field="*{author}" />
	    	</div><br/>
	    	<div>
	    		<label>ISBN</label>
	    		<input type="text" th:field="*{isbn}" />
	    	</div><br/>
	    	<div>
	    		<label>Publication year</label>
	    		<input type="text" th:field="*{publicationYear}" />
	    	</div><br/>
	    	<div>
	    		<label>Price</label>
	    		<input type="text" th:field="*{price}" />
	    	</div><br/>
	    	<input class="btn btn-success" type="submit" value="Save"></input>
	    </form>
    </div>  
</body>
</html>