<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div style="margin:20px;">
		<h1>Add a new book</h1><br/>
	    <form th:object="${book}" th:action=@{saveBook} action="#" method="post">
	    	<div>
	    		<label>Title</label>
	    		<input type="text" th:field="*{title}" />
	    	</div><br/>
	    	<div>
	    		<label>Author</label>
	    		<input type="text" th:field="*{author}" />
	    	</div><br/>
	    	<div>
	    		<label>ISBN</label>
	    		<input type="text" th:field="*{isbn}" />
	    	</div><br/>
	    	<div>
	    		<label>Publication year</label>
	    		<input type="text" th:field="*{publicationYear}" />
	    	</div><br/>
	    	<div>
	    		<label>Price</label>
	    		<input type="text" th:field="*{price}" />
	    	</div><br/>
	    	<div>
	    		<label for="categorylist">Category</label>
				<select id="categorylist" th:field="*{category}"> 
					<option th:each="category: ${categories}" th:value="${category.categoryid}"
 						th:text="${category.name}"></option>
				</select>
	    	</div><br/>
	    	<input class="btn btn-success" type="submit" value="Save"></input>
	    </form>
    </div>
</body>
</html>